.campaign-name{
    font-family: 'Eagle Lake', cursive;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 0; 
    height: 100%;
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: -2px 0px 5px rgba(230, 228, 228, 0.1);
}

.sidebar-expanded {
width: 500px; 
background-color: ;
}

.main-content {
margin-right: 0; 
transition: 0.3s;
}

.main-content-expanded {
margin-right: 300px; 
}

.buttons-row {
    display: flex;
    gap: 10px; 
    justify-content: center; 
    margin-bottom: 10px;
    margin-top: 10px 
}

.floating-button {
    position: relative;
    z-index: 1000; 
    transition: background-color 0.3s, transform 0.3s;
}

.floating-button.expanded {
    background-color: #6b6b6b;
}