*{
  background-color: rgb(36, 34, 34);
  font-weight: 500;
  color: rgb(192, 192, 192);
  box-sizing: border-box;
  border: none;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  font-family: 'Eagle Lake', cursive;
}

h2{
    font-family: 'Cinzel Decorative', cursive;
}

input{
  background-color: #f9f9f9;
  color: black
}

select{
  background-color: #f9f9f9;
  color: black
}

select option {
  background-color: #f9f9f9;
  color: black;
}

button{
  color: black
}

p{
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 1.5rem;
}